.navbar {
  display: flex;
  flex-direction: row;
  flex: 0 0 90vw;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  margin-bottom: 5rem; }
  .navbar__logo--img {
    width: 15rem;
    height: 15rem;
    margin-left: 5rem; }
  .navbar__menu--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9rem;
    height: 2.9rem;
    margin-right: 10rem;
    z-index: 100; }
    .navbar__menu--img:hover {
      cursor: pointer; }

.main {
  display: flex;
  flex-direction: row;
  max-width: 140rem;
  margin: 0 auto; }
  .main__callout {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    text-align: center; }
  .main__beer-images {
    display: flex;
    flex: 0 0 50%;
    position: relative;
    justify-content: center;
    align-items: center; }
  .main__heading-primary {
    text-transform: uppercase;
    font-family: Corona;
    line-height: 0.7;
    margin-bottom: 2rem; }
    .main__heading-primary--small {
      font-size: 10rem; }
    .main__heading-primary--big {
      font-size: 29.5rem; }
  .main__order-now {
    text-align: start;
    margin-left: 2rem;
    font-family: Rubik;
    font-size: 4.5rem;
    line-height: 1.5; }
  .main__mission {
    text-align: start;
    margin-left: 2rem;
    font-family: Rubik;
    margin-top: 1.5rem;
    width: 50%;
    line-height: 1.2; }
    .main__mission--title {
      font-size: 2rem; }
    .main__mission--description {
      font-size: 1.4rem; }

.order-now-links {
  display: flex;
  flex-direction: row;
  margin-left: 2rem; }

.order-now__btn {
  border: 4px solid #003960;
  text-transform: uppercase;
  font-family: Corona;
  font-size: 4.25rem;
  display: inline-block;
  flex: 1;
  padding: .5rem 4rem;
  text-decoration: none;
  margin: 0 1.25rem; }
  .order-now__btn--myself {
    background-color: #003960;
    color: #CF8E29;
    margin-left: 0; }
  .order-now__btn--town {
    background-color: #CF8E29;
    color: #003960; }

.scraped-surface {
  width: 100%;
  margin-top: -5rem; }

.beer-bottle {
  position: absolute;
  margin-top: -22rem;
  bottom: 0; }
  .beer-bottle--left {
    height: 84vh;
    left: 27%;
    z-index: 20; }
  .beer-bottle--center {
    height: 95vh;
    left: 35%;
    z-index: 50; }
  .beer-bottle--right {
    height: 75vh;
    right: 18%;
    z-index: 20; }

@font-face {
  font-family: Corona;
  src: url("../assets/fonts/Corona.ttf"); }

@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik.ttf"); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: inherit; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #CF8E29;
  height: 100vh;
  color: #003960; }
